[submodule "external/cmm"]
	path = external/cmm
	url = git@github.com:YasmineParent/cmm.git
[submodule "external/fasterrisk"]
	path = external/fasterrisk
	url = git@github.com:YasmineParent/FasterRisk.git
[submodule "external/riskslim"]
	path = external/riskslim
	url = git@github.com:YasmineParent/riskslim.git
